.movies-card-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);

	gap: 20px;

	padding: 50px 70px 50px 70px;
}

@media screen and (max-width: 768px) {
	.movies-card-list {
		grid-template-columns: repeat(2, 1fr);

		gap: 12px;

		padding: 50px 30px 50px 30px;
	}
}

@media screen and (max-width: 450px) {
	.movies-card-list {
		width: max-content;
		grid-template-columns: 1fr;

		gap: 12px;

		margin: 0 auto 0 auto;
		padding: 50px 0px 50px 0px;
	}
}