.promo {
	background-color: #073042;

	display: flex;
	flex-direction: column;

	width: 1280px;
	height: max-content;
	padding-bottom: 50px;

	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}


.promo__container {
	display: flex;
	margin: 75px 70px 84px 70px;
}

.promo__text {
	max-width: 640px;
}

.promo__title {
	max-width: 640px;
	max-height: 174px;

	font-style: normal;
	font-weight: 400;
	font-size: 50px;
	line-height: 58px;

	margin: 0 0 36px 0;
}

.promo__subtitle {
	max-width: 310px;
	max-height: 32px;

	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;

	margin: 0;
}

.promo__logo-earth {
	width: 310px;
	height: 310px;
	margin: 0px 0px 0px auto;
}



@media screen and (max-width: 768px) {
	.promo {
		flex-direction: column;
		width: 750px;
	}

	.promo__container {
		flex-direction: column-reverse;
		text-align: center;
		margin: 75px 30px 84px 30px;
	}

	.promo__subtitle {
		margin: 0px auto 0px auto;
	}

	.promo__logo-earth {
		margin: 0px auto 30px auto;
	}

	.promo__text {
		margin: 0 auto 36px auto;
	}

}