.page {
	width: max-content;
	height: max-content;

	display: flex;
	flex-direction: column;

	margin: 0 auto;

	background-color: #202020;
	color: #fff;

	font-family: 'Inter', Arial, Helvetica, sans-serif;
	text-rendering: optimizeLegibility;

	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 768px) {
	.page {
		width: max-content;
		align-items: center;
	}
}