.page {
	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: #202020;
	color: #fff;

	font-family: 'Inter', Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-rendering: optimizeLegibility;

	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}