.search-form {
	display: flex;
	flex-direction: column;

	margin: 80px auto 0 auto;

	width: 1280px;
	height: max-content;
}

.search-form__search-bar {
	display: flex;
	flex-direction: row;
	margin: auto 70px auto 70px;
}

.search-form__input {
	color: white;
	background-color: #2F2F2F;

	border: none;
	border-radius: 10px;

	font-size: 25px;

	width: 90%;
	height: 48px;
	margin: 0 auto 0 0;
	padding-left: 15px;
}

.search-form__input:focus {
	outline: none;
}

.search-form__button {
	border: none;
	border-radius: 15px;

	padding: 0;

	width: 80px;
	height: 50px;

	cursor: pointer;

	background-color: rgb(0, 191, 255);
	width: 7%;

	transition: all 0.3s ease-in-out;
}

.search-form__button:hover {
	opacity: 0.8;
	scale: 1.2;
}

.search-form__checkbox-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	width: 1140px;
	height: 100px;

	border-bottom: 1px solid gray;

	margin: 25px auto 25px auto;
}

.search-form__checkbox-button {
	margin: 0 10px 0 0;

	width: 36px;
	height: 20px;
	appearance: none;
	border-radius: 100px;
	background: #4a4a4a;
	position: relative;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.search-form__checkbox-button:hover {
	scale: 1.2;
}

.search-form__checkbox-button::after {
	content: url(../../images/checkbox__tumbler.svg);
	border-radius: 100%;
	position: absolute;
	top: 2px;
	left: 2px;


	transition: all 0.3s ease-in-out;
}

.search-form__checkbox-button:checked {
	background: #3ddc84;
}

.search-form__checkbox-button:checked::after {
	left: 18px;
}

.search-form__checkbox-label {
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 20px;
}

@media screen and (max-width: 768px) {
	.search-form {
		width: 750px;
	}

	.search-form__search-bar {
		margin: auto 30px auto 30px;
	}


	.search-form__input {
		width: 80%;
	}

	.search-form__button {
		width: 80px;
		height: 50px;
	}

	.search-form__checkbox-container {
		width: 690px;
		margin: 25px 30px 25px 30px;
	}
}

@media screen and (max-width: 450px) {
	.search-form {
		width: 425px;
	}

	.search-form__search-bar {
		margin: auto 14px auto 14px;
	}


	.search-form__input {
		width: 70%;
	}

	.search-form__button {
		width: 80px;
		height: 50px;
	}

	.search-form__checkbox-container {
		width: 95%;
		margin: 0 14px 25px 14px;
	}
}