.header {
	display: flex;
	flex-direction: row;

	background-color: #073042;

	width: 1280px;
	height: 62px;
}

.header__logo {
	margin: auto auto auto 70px;

	width: 45px;
	height: 45px;

	transition: all 0.3s ease-in-out;
}

.header__logo:hover {
	scale: 1.2;
}

.header__logo-svg {

	object-fit: cover;

	width: 45px;
	height: 45px;
}

.header__unauth-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;

	width: max-content;
	height: 100%;
}

.header__auth-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;

	width: max-content;
	height: 100%;
}

.header__registration {
	background-color: transparent;
	color: white;

	border: none;

	text-decoration: none;

	margin: auto 10px auto 10px;
	padding: 0;

	cursor: pointer;

	transition: all 0.3s ease-in-out;

	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
}

.header__registration:hover {
	opacity: 0.8;
	scale: 1.2;
}

.header__login-unauth {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 35px;
	width: 75px;

	margin: auto 70px auto 10px;
	padding: 0;

	text-decoration: none;

	cursor: pointer;

	border: none;
	border-radius: 5px;
	background-color: #ff0000;
	color: white;

	transition: all 0.3s ease-in-out;

	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
}

.header__login-unauth:hover {
	opacity: 0.8;
	scale: 1.2;
}

.header__login-auth {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 35px;
	width: 75px;

	margin: auto 70px auto 10px;
	padding: 0;

	text-decoration: none;

	cursor: pointer;

	border: none;
	border-radius: 5px;
	background-color: #3DDC84;
	color: black;

	transition: all 0.3s ease-in-out;

	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
}

.header__login-auth:hover {
	opacity: 0.8;
	scale: 1.2;
}

.header__movies-auth {
	transition: all 0.3s ease-in-out;

	margin: auto 70px auto 10px;
	padding: 0;

	cursor: pointer;

	color: white;

	text-decoration: none;

	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
}

.header__movies-auth:first-child {
	margin: auto 20px auto 10px;
	padding: 0;
}

.header__movies-auth:hover {
	opacity: 0.8;
	scale: 1.2;
}